{% extends 'base.html' %}
{% load static %}
{% block title %}Управление двухэтапной аутентификацией{% endblock %}

{% block content %}
<div class="container py-5">
    <h2>Двухэтапная аутентификация</h2>

    <form method="post">
        {% csrf_token %}
        {% if user.is_2fa_enabled %}
            <button type="submit" class="btn btn-danger">Выключить 2FA</button>
            <p>2FA сейчас <strong>включена</strong>.</p>
        {% else %}
            <button type="submit" class="btn btn-primary">Включить 2FA</button>
            <p>2FA сейчас <strong>выключена</strong>.</p>
        {% endif %}
    </form>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
